@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/@catppuccin/palette/css/catppuccin.css';

@font-face {
  font-family: "Cairo";
  src: url('fonts/cairo_play/CairoPlay-VariableFont_slnt\,wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 200 1000;
}

.mocha {
	--crust: var(--ctp-mocha-crust);
	--mantle: var(--ctp-mocha-mantle);
	--base: var(--ctp-mocha-base);
	--surface0: var(--ctp-mocha-surface0);
	--surface1: var(--ctp-mocha-surface1);
	--surface2: var(--ctp-mocha-surface2);
	--overlay0: var(--ctp-mocha-overlay0);
	--overlay1: var(--ctp-mocha-overlay1);
	--overlay2: var(--ctp-mocha-overlay2);
	--subtext0: var(--ctp-mocha-subtext0);
	--subtext1: var(--ctp-mocha-subtext1);
	--text: var(--ctp-mocha-text);
	--blue: var(--ctp-mocha-blue);
	--sapphire: var(--ctp-mocha-sapphire);
	--sky: var(--ctp-mocha-sky);
	--mauve: var(--ctp-mocha-mauve);
	--lavender: var(--ctp-mocha-lavender);
	--peach: var(--ctp-mocha-peach);
	--yellow: var(--ctp-mocha-yellow);
	--green: var(--ctp-mocha-green);
	--teal: var(--ctp-mocha-teal);
	--red: var(--ctp-mocha-red);
	--maroon: var(--ctp-mocha-maroon);
	--pink: var(--ctp-mocha-pink);
	--flamingo: var(--ctp-mocha-flamingo);
	--rosewater: var(--ctp-mocha-rosewater);
}

.latte {
	--crust: var(--ctp-latte-crust);
	--mantle: var(--ctp-latte-mantle);
	--base: var(--ctp-latte-base);
	--surface0: var(--ctp-latte-surface0);
	--surface1: var(--ctp-latte-surface1);
	--surface2: var(--ctp-latte-surface2);
	--overlay0: var(--ctp-latte-overlay0);
	--overlay1: var(--ctp-latte-overlay1);
	--overlay2: var(--ctp-latte-overlay2);
	--subtext0: var(--ctp-latte-subtext0);
	--subtext1: var(--ctp-latte-subtext1);
	--text: var(--ctp-latte-text);
	--blue: var(--ctp-latte-blue);
	--sapphire: var(--ctp-latte-sapphire);
	--sky: var(--ctp-latte-sky);
	--mauve: var(--ctp-latte-mauve);
	--lavender: var(--ctp-latte-lavender);
	--peach: var(--ctp-latte-peach);
	--yellow: var(--ctp-latte-yellow);
	--green: var(--ctp-latte-green);
	--teal: var(--ctp-latte-teal);
	--red: var(--ctp-latte-red);
	--maroon: var(--ctp-latte-maroon);
	--pink: var(--ctp-latte-pink);
	--flamingo: var(--ctp-latte-flamingo);
	--rosewater: var(--ctp-latte-rosewater);
}

/* Use the alternative box model */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset */

body {
  font-family: "Cairo", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


body {
  background-color: var(--base);
}

/* CONTAINER */
.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */
header {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 60px;
}

header nav ul {
  display: flex;
  gap: .7em;
}

header nav ul li {
  cursor: pointer;
}

header nav ul #dark i {
  color: var(--text);
}

header nav ul #light i {
  color: var(--yellow);
}

header nav ul #light {
  display: none;
}

header nav ul li i {
  color: var(--sapphire);
  font-size: 1.5rem;
}


/* MAIN */

main {
  padding: 3em 0;
}

main .intro h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}

main .intro p {
  text-align: center;
  font-size: 1em;
}
